* {
  box-sizing: border-box;
}

body {
 font-size: 16px;
 font-family: 'Open Sans', sans-serif;
}

button {
  border: none;
  font-size: 1em;
}

button:hover {
  color: turquoise;
}

input {
  font-size: 1em;
}

header {
  text-align: center;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colors-cont {
  display: flex;
  justify-content: center;
}

.color-box {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 350px;
  width: 250px;
}

.hex-text {
  color: black;
}

.color-details-cont {
  text-align: center;
  background-color: white;
}

.lock-btn {
  background: url('../assets/open-lock.png');
  background-size: cover;
  height: 35px;
  width: 35px;
}

.lock-btn.locked {
  background: url('../assets/closed-lock.png');
  background-size: cover;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.project-cont {
  width: 45%;
  border: 1px solid turquoise;
}

.small-palette-cont {
  display: flex;
  flex-direction: column;
}

.small-colors-cont {
  display: flex;
}

.palette-name {
  width: 150px;
}

.small-palette-color {
  height: 25px;
  width: 25px;
  background-color: pink;
  border: 1px solid lightblue;
}