* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  background-color: #F0F0EE;
}

h1 {
  color: #434346;
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  padding-bottom: 10px;
}

header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #73BFB8;
}

button {
  border: none;
  font-size: 1em;
  outline: none;
}

button:hover {
  color: #EA7317;
  cursor: pointer;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  padding: 5px;
  outline: none;
}
 
select {
  background: transparent;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  outline: none;
}

#gen-colors-btn {
  background-color: #FEC601;
  font-size: 1.2em;
  padding: 10px 15px;
  margin: 20px 0 40px;
}

.select-div {
  border: 2px solid #73BFB8;
  display: inline-block;
  background-color: white;
  padding: 5px 10px; 
}

.header-icon {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
}

.colors-cont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  margin: 20px 0;
}

.color-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 350px;
  width: 250px;
}

.create-project-label {
  font-family: 'Oswald', sans-serif;
  display: block;
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 15px;
}

.create-project-form {
  padding-bottom: 30px;
}

.create-palette-form {
  display: flex;
  justify-content: space-between;
  width: 510px;
  align-items: center;
}

.hex-text {
  color: black;
  font-size: 1.1em;
}

.color-details-cont {
  text-align: center;
  background-color: white;
  border: 1px solid #D6D6D1;
  border-top: none;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.lock-btn {
  background: url('../assets/open-lock.png');
  background-size: cover;
  height: 35px;
  width: 35px;
}

.lock-btn.locked {
  background: url('../assets/closed-lock.png');
  background-size: cover;
  height: 35px;
  width: 35px;
}

.save-btn {
  background-color: #FEC601;
  height: 36px;
  padding: 5px 10px;
  font-size: 1em;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 140px;
}

.project-cont {
  width: 45%;
}

.small-palette-cont {
  display: flex;
  flex-direction: column;
}

.small-colors-cont {
  display: flex;
}

.delete-palette-btn {
  background-image: url('../assets/trash.png');
  background-size: cover;
  height: 25px;
  width: 25px;
}

.delete-palette-btn:hover {
  background-color: #FEC601; 
}

.palette-name {
  min-width: 170px;
  padding: 5px 10px;
  border: 2px solid #73BFB8;
  margin-right: 10px;
}

.palette {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.small-palette-color {
  height: 25px;
  width: 25px;
  margin: 0 5px;
}